<!DOCTYPE html>
<html style="height: 100%;">
<head>
<meta charset="UTF-8">
<title th:text=${title}></title>

<div th:include="/common/layui"></div>
<div th:include="/common/jq"></div>

<!--添加 vue  支持加载-->
<script src="/vue/vue.min.js"></script>
<!--添加 vue  支持加载-->
<script>

$(function(){
	$("#daohang").find("#edit_pwd").addClass("active");
});



function save() {
	var index = layer.msg('提交中，请稍候', {
		icon : 16,
		time : false,
		shade : 0.8
	});
	var yuan = $("#yuan").val();
	var new1 = $("#new1").val();
	var new2 = $("#new2").val();
	
	if(new1==new2){
		if(new1.length>=6){
		}else{
			layer.msg("新密码，必须6位以上（包括6位）");
			return;
		}
	}else{
		layer.msg("新密码，二次必须相同");
		return;
	}
	
	if(yuan.length>=1){
	}else{
		layer.msg("请输入原密码 ");
		return;
	}
	
	$.post("/api/user/edit/pwd", {userId:'[[${session.currentUser.id}]]',yuan:yuan,pwd:new1
	}, function(result) {
		layer.closeAll();
		if (result.success) {
			layer.msg(result.msg);
			$("#save").attr("onclick","void();"); 
			$("#save").text(result.msg); 
		} else {
			layer.msg(result.msg);
		}
	}, 'json');
}

</script>
<style>
/*修改table表格  左右内边框 为0*/
.layui-table-cell {
	padding-left: 0px;
	padding-right: 0px;
	text-align: center;
}
/*修改table表格 左右内边框 为0*/
</style>
<style>
body{
	background: url(/image/base/home_bg.png) no-repeat center top fixed;
}
.item{
	flex:1;
	-webkit-flex:1; 
	text-align: center; 
	line-height: 45px;
}
.item a:hover{
	color: red;
}
.active{
	color: red;
}
</style>
</head>

<body id="app">
	<div style="width: 1100px; margin: 0 auto; margin-top: 20px;">
		<div th:include="/pc/student/common/top.html"  style="width: 100%;  overflow: hidden; ">
		</div>
		
		
		<div id="daohang" th:include="/pc/student/common/daohang.html"  style="width: 100%; height:45px; border-radius: 10px; margin-top:22px; background-color: white;display: flex;display: -webkit-flex; ">
		</div>
		<div style="width: 100%; margin-top:22px; border-radius: 10px;  min-height: 500px; ">
			<!-- 内容展示区域 -->
			
			<div class="layui-card">
		        <div class="layui-card-header"  th:text=${title}>修改密码</div>
		        <div class="layui-card-body" style="min-height: 300px; ">
					
						<div style="padding: 10px; width: 400px;" class="layui-form layui-form-pane" action="">
							
							<div class="layui-form-item">
								<label class="layui-form-label">原密码</label>
								<div class="layui-input-block">
									<input type="password" id="yuan" autocomplete="off"	placeholder="请输入  原密码" class="layui-input">
								</div>
							</div>
							
							<div class="layui-form-item">
								<label class="layui-form-label">新密码</label>
								<div class="layui-input-block">
									<input type="password"  id="new1"   autocomplete="off"
										placeholder="请输入  新密码" class="layui-input">
								</div>
							</div>
							
							<div  class="layui-form-item">
								<label class="layui-form-label">确认一边</label>
								<div class="layui-input-block">
									<input type="password"  id="new2"  autocomplete="off"
										placeholder="请输入  新密码" class="layui-input">
								</div>
							</div>
							
							<div class="layui-form-item">
								<div class="layui-input-block">
									<button class="layui-btn" id="save"  onclick="save()">提交修改</button>
								</div>
							</div>
		
						</div>
					
		        </div>
		      </div>
			
			<!-- 内容展示区域 -->
		</div>
	</div>
</body>

<script type="text/html" id="format_type">
{{#  if(d.type){ }}
{{ d.type.name}}
{{#  } else  {  }}
{{#  }   }}
</script>

<script type="text/html" id="format_state">
{{#  if(d.state==1){ }}
 维修中
{{#  } else if(d.state==2)  {  }}
正常
{{#  }  else if(d.state==3){  }}
报废
{{#  } else if(d.state==4){    }}
使用中
{{#  }      }}
</script>

<script type="text/html" id="table_bar">
<div class="layui-btn-group">
{{#  if(d.state == 2){ }}
<a class="layui-btn layui-btn-xs" lay-event="use">使用</a>
{{#  } }}
</div>
</script>

<script>
layui.use([ 'laydate', 'laypage', 'layer', 'table', 'carousel',
		'upload', 'element' ], function() {
	var laydate = layui.laydate //日期
	, laypage = layui.laypage //分页
	,layer = layui.layer //弹层
	,form = layui.form 
	, table = layui.table //表格
	, carousel = layui.carousel //轮播
	, upload = layui.upload //上传
	, element = layui.element; //元素操作
	  table.render({
	    elem: '#table'
	    ,url: '/admin/charge/list'
	    ,height: 'full-300'
	    ,totalRow: true
		,cols: [ [
	       {checkbox: true, fixed: true}
	       ,{field:'sort', title: '排序', width:90,style:'font-size: 12px;'   }
	       ,{field:'type', title: '充电桩类型', width:120,style:'font-size: 12px;',templet: '#format_type' }
	       ,{field:'name', title: '充电桩名称', width:120,style:'font-size: 12px;' }
	       ,{field:'state', title: '充电桩状态', width:120,style:'font-size: 12px;',templet: '#format_state' }
	       ,{field:'price', title: '每小时收费', width:80,style:'font-size: 12px;' }
	       ,{field:'createDateTime', title: '创建时间', width:150,style:'font-size: 12px;'  }
	       ,{fixed:'right', width:120,title: '操作',  toolbar: '#table_bar'}
	       ] ]
	    ,id: 'table'
	    ,page: true
	    ,limits:[500,1000,2000,3000],
	   limit:100
	  });
	
	//监听工具条 table_bar
		table.on('tool(table)', function(obj) { //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
			var data = obj.data //获得当前行数据
			, layEvent = obj.event; //获得 lay-event 对应的值
			if (layEvent === 'use') {
				use(data.id);
			} 
		});
});
</script>

<script>
	var app = new Vue({
		el : '#app',
		data : {
		}
	});
</script>
</html>