<!DOCTYPE html>
<html style="height: 100%;">
<head>
<meta charset="UTF-8">
<title th:text=${title}></title>

<div th:include="/common/layui"></div>
<div th:include="/common/jq"></div>

<!--添加 vue  支持加载-->
<script src="/vue/vue.min.js"></script>
<!--添加 vue  支持加载-->

<style>
body{
	background: url(/image/base/home_bg.png) no-repeat center top fixed;
}
.item{
	flex:1;
	-webkit-flex:1; 
	text-align: center; 
	line-height: 45px;
}
.item a:hover{
	color: red;
}
.active{
	color: red;
}

.content{}
.content img{ max-width: 100%;}
</style>
</head>

<body id="app">
	<div style="width: 1100px; margin: 0 auto; margin-top: 20px; margin-bottom: 100px;">
		
		
		
		<div th:include="/pc/student/common/top.html"  style="width: 100%;  overflow: hidden; ">
		</div>
		
		
		
		<div id="daohang" th:include="/pc/student/common/daohang.html"  style="width: 100%; height:45px; border-radius: 10px; margin-top:22px; background-color: white;display: flex;display: -webkit-flex; ">
		</div>
		<div style="width: 100%; margin-top:22px; border-radius: 10px;  min-height: 500px; ">
			<!-- 内容展示区域 -->
			
			<div style="min-height: 30px;   background-color:white;   ">
				<div style="overflow: hidden; box-sizing: border-box;    padding: 10px;">
					<div style="margin-top: 10px; font-size: 25px; font-weight: bold; padding-left:20px; " th:text="|${news.title}|"></div>
					<div style="margin-top: 25px; font-size: 15px;   padding-left:20px; " th:text="|创建时间：${#dates.format(news.createDateTime, 'yyyy-MM-dd HH:mm')}|"></div>
				</div>
			</div>
				
			<div style="min-height: 500px;   background-color:white; margin-top: 20px;   ">
				<div style="width: 100%; margin: 0 auto; padding:10px; background-color: white; box-sizing: border-box;  ">
					<blockquote class="layui-elem-quote">新闻内容</blockquote>
					<div class="content" th:utext="${news.content}">
					</div>
				</div>
			</div>
	
			 
      
			<!-- 内容展示区域 -->
		</div>
	</div>
</body>
 
<script>
layui.use([ 'laydate', 'laypage', 'layer', 'table', 'carousel',
		'upload', 'element' ], function() {
	var laydate = layui.laydate //日期
	, laypage = layui.laypage //分页
	,layer = layui.layer //弹层
	,form = layui.form 
	, table = layui.table //表格
	, carousel = layui.carousel //轮播
	, upload = layui.upload //上传
	, element = layui.element; //元素操作
});
</script>

</html>